---
layout: default
robot: noindex,follow
---
<div class="posts">
    {% for post in paginator.posts %}
    <div class="post">
        <h2>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <span class="post-date text-inactive">{{ post.date | date_to_string }}</span>
        {{ post.excerpt }}
    </div>
    {% endfor %}
</div>

<div class="pagination text-inactive text-center">
    {% if paginator.next_page %}
        <a class="pagination-item" href="/page/{{paginator.next_page}}">Older</a>
    {% else %}
        <span class="pagination-item">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
            <a class="pagination-item" href="/">Newer</a>
        {% else %}
            <a class="pagination-item" href="/page/{{paginator.previous_page}}">Newer</a>
        {% endif %}
    {% else %}
        <span class="pagination-item">Newer</span>
    {% endif %}
</div>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-47088996-2', 'auto');
    ga('send', 'pageview');
</script>
