pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 1rem;
    font-size: .8rem;
    line-height: 1.4;
    white-space: pre;
    background-color: $pre-bg-color;
    overflow-x: auto;
}
