.pagination {
    overflow: hidden;
    margin: 3rem 0;
    font-family: 'Roboto Condensed', sans-serif;
    &-item {
        display: block;
        padding: 1rem;
        border-top: 1px solid $link-color;
        border-bottom: 1px solid $link-color;
        float: left;
        width: 50%;
        &:last-child {
            border-left: 1px solid $link-color;
        }
    }
    a.pagination-item:hover {
        background-color: $block-bg-color;
    }
}



@media screen and (max-width: 640px) {
    .pagination {
        margin: 0 -1rem;
        &-item {
            float: none;
            width: 100%;
            &:last-child {
                border: 0;
            }
        }
    }
}
