@import "color";

$text-color: $grey-800;
$post-title-color: $blue-grey-900;
$header-color: $blue-grey-900;
$text-inactive-color: $grey-500;

$line-color: $grey-400;
$block-bg-color: $grey-100;

$link-color: #6a9fb5;
$sidebar-bg-color: #6a9fb5;
