html {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $text-color;
}

@media (min-width: 38rem) {
    html {
        font-size: 20px;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $header-color;
    letter-spacing: -.025rem;
    margin-bottom: .5rem;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    color: $post-title-color;
}
h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}
h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
}
h4, h5, h6 {
    margin-top: 1rem;
    font-size: 1rem;
}

.text-inactive {
    color: $text-inactive-color;
}
