---
layout: compress
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="{{ page.lang }}"
      itemscope
      itemtype="http://schema.org/WebPage">
{% include head.html %}
<body class="theme-base-0d sidebar-overlay">
<script type="text/javascript">
    var host = "imega.club";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
</script>
{% include sidebar.html %}
<div class="wrap">
    <div class="masthead">
        <div class="container">
            <label for="sidebar-checkbox" class="sidebar-toggle"></label>
            <h3 class="masthead-title">
                <a href="{{ site.url }}" title="Home">{{ site.title }}</a>
                <small>{{ site.tagline }}</small>
            </h3>
        </div>
    </div>
    <div class="container content">
        {{ content }}
    </div>
</div>
</body>
</html>
