---
layout: default
---
<article lang="{{ page.lang }}" class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header itemprop="inLanguage" content="{{ page.lang }}">
        <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
        <span class="post-date" itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date_to_string }}
        </span>
        {% if page.modified %}
        <meta itemprop="dateModified" content="{{ page.modified | date_to_xmlschema }}">
        {% else %}
        <meta itemprop="dateModified" content="{{ page.date | date_to_xmlschema }}">
        {% endif %}
    </header>
    <div itemprop="articleBody">
        {{ content | remove: page.excerpt }}
    </div>
    <footer>
        <div itemprop="author">
            <p class="author" itemscope itemtype="http://schema.org/Person">
                <meta itemprop="homeLocation" content="Russia">
                <span itemprop="name">{{ site.author.name }}</span>,
                <span itemprop="worksFor">{{ site.author.org }}</span>
            </p>
        </div>
        <div>
            <a itemprop="url" href="{{ site.url }}{{ page.url }}" title="permanent link">Permalink</a>
        </div>
        <ul class="post-tags">
        {% for tag in page.tags %}
            <li class="tag" itemprop="keywords">{{ tag }}</li>
        {% endfor %}
        </ul>
    </footer>
    <meta itemscope
          itemprop="mainEntityOfPage"
          itemType="https://schema.org/WebPage"
          itemid="{{ site.url }}{{ page.url }}"
          content="{{ page.title }}">
    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <img itemprop="url image"
                 src="{{ site.url }}/public/imega-logo.png"
                 style="display:none;"
                 alt="{{ site.title }}">
            <meta itemprop="width" content="100">
            <meta itemprop="height" content="100">
        </div>
        <meta itemprop="name" content="{{ site.title }}">
        <meta itemprop="address" content="Saint Petersburg">
    </div>
    <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <img itemprop="image url"
             alt="iMega logo"
             width="100"
             height="100"
             src="{{ site.url }}/public/imega-logo.png"
             style="display:none;">
        <meta itemprop="width" content="100">
        <meta itemprop="height" content="100">
    </div>
</article>
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = "{{ site.url }}{{ page.url }}";
        this.page.identifier = "{{ page.id }}";
    };
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//https-imega-club.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
